h1{
    text-align: center;
    font-style: oblique;
    font-family: 'Lucida Sans';
    font-size: 50pt;
    text-decoration: underline;
    text-underline-offset: 10px;
}
ul{
    padding: 5px;
    padding-left: 45px;
    padding-bottom: 50px;
}
h2{
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 10px;
}
li{
   padding-top: 7.5px;
   margin-right: 60%;
}
div{
    color: blue;
    border: 25px;
    border-color: blue;
    border-style: solid;
    width: 50px;
    height: 40px;
    padding: 30px;
    border-top-left-radius: 25%;
    border-radius: 25%;
    text-align: center;
    font-size: 20pt;
    background-color:aquamarine;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
body{
    background-color: aqua;
}